<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card border-none">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          class="w-16 h-16 object-cover rounded-circle img-thumbnail"
          alt="Imagen de perfil"
        />
        <form action="/current" method="get">
          <input type="submit" value="Ver Perfil" class="btn btn-info" />
        </form>
      </div>
    </div>
    <div class="col-md-8 mt-4 mb-4">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Bienvenido ADMIN</h1>
        <form action="/api/jwt/logout" method="post">
          <input type="submit" value="Logout" class="btn btn-danger" />
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="d-flex flex-column flex-md-row justify-content-md-around align-items-center"
    >
      <form action="/realtimeproducts" method="get">
        <input
          type="submit"
          value="Productos"
          class="btn btn-warning m-4 mb-md-0"
        />
      </form>
      <form action="/cartsadmin" method="get">
        <input
          type="submit"
          value="Carritos"
          class="btn btn-warning  m-4 mb-md-0"
        />
      </form>
      <form action="/users" method="get">
        <input
          type="submit"
          value="Usuarios"
          class="btn btn-warning  m-4 mb-md-0"
        />
      </form>
      <form action="/tickets" method="get">
        <input
          type="submit"
          value="Tickets"
          class="btn btn-warning m-4 mb-md-0"
        />
      </form>
    </div>
  </div>
</div>