<div>
  <div class="container-fluid my-10">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card border-none">
          <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          class="w-16 h-16 object-cover rounded-circle img-thumbnail"
          alt="Imagen de perfil"
        />
          <form action="/products" method="get">
            <input type="submit" value="Productos" class="btn btn-dark mt-2" />
          </form>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="d-flex justify-content-between align-items-center">
          {{#if user}}
          <h1>Welcome {{user.name}}</h1>
          {{else}}
          <h1>Welcome Guest</h1>
          {{/if}}
          <h2>Role: {{user.role}}</h2>
          {{#ifRoleEquals user.role "admin"}}
          <form action="/admin" method="get">
            <input type="submit" value="Admin" class="btn btn-dark mr-2" />
          </form>
          {{/ifRoleEquals}}
          <form action="/api/jwt/logout" method="post">
            <input type="submit" value="Logout" class="btn btn-danger" />
          </form>
        </div>
      </div>
    </div>
    <div class="container-md">
      <h2 class="mt-4 mb-4 pt-2 pb-2 bg-opacity-8 border rounded text-center">Realiza tu consulta en nuestro chat
        On-line</h2>
      <div class="mt-4 mb-4 pt-2 pb-2 bg-opacity-8 border rounded text-center">
        <h5 class="text-start px-3">Ingresa tus datos para comenzar</h5>
        <div class="d-flex justify-content-around">
  <input type="email" name="email" id="email" placeholder="E-mail" class="form-control form-control-sm loggin" />
  <input type="text" name="name" id="name" placeholder="Nombre" class="form-control form-control-sm loggin" />
</div>
      </div>
      <div class="d-flex justifity-content-center">
        <div class="mt-4 mb-4 pt-2 pb-2 bg-opacity-8 border rounded w-50 mx-auto">
          <h5 class="text-center">Mensajes</h5>
          <div class="mt-4 mb-4 pt-2 pb-2 border rounded w-75 m-auto mensajes">
            <p id="messages"></p>
          </div>
          <form class="d-flex justify-content-center mb-2">
            <input type="text" name="message" id="message" class="form-control form-control-sm w-75" />
            <button type="submit" class="btn btn-primary btn-sm ms-2" id="submitButton">
            </button>
          </form>
        </div>
      </div>
      
      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/chat.js"></script>
    </div>
  </div>