<div
  class="flex flex-col items-center justify-center min-h-screen bg-red-500 text-white"
>
  <img
    src="https://t4.ftcdn.net/jpg/03/59/38/31/360_F_359383129_Zhmi6QRmjv6jdklj0HQgK4nM2FYaXWOx.jpg"
    alt="Logo divertido"
    class="w-16 h-16 mb-4"
  />
  <h1 class="text-3xl font-bold mb-2">¡Algo salió mal!</h1>
  <p>Error: {{error}}</p>
</div>