<div class="max-w-md mx-auto mt-8 bg-white p-8 rounded shadow-md">
  <h1 class="text-2xl font-bold mb-4">Login</h1>
  <form id="loginForm">
    <label class="block mb-2">Email</label>
    <input type="email" name="email" class="w-full border p-2 mb-4" required />
    <label class="block mb-2">Contraseña</label>
    <input
      type="password"
      name="password"
      class="w-full border p-2 mb-4"
      required
    />
    <input
      type="submit"
      value="Login"
      class="bg-blue-500 text-white px-4 py-2 cursor-pointer"
    />
  </form>
   <p class="mt-2"><i>¿Olvidaste tu contraseña?   </i><a href="/recoverPassword" class="text-blue-500">  Reestablecer contraseña</a></p>
  <p class="mt-4">¿No tienes una cuenta?
    <a href="/register" class="text-blue-500">Registrate aqui</a></p>

    <p class="mt-4">¿Quieres iniciar sesión con Github?
    <a href="/github/login" class="text-blue-500">Login aqui</a></p>
</div>
<script src="/js/login.js"></script>