<div>
   

    <div class="container-md">
    <h1 class="mt-4 mb-4 bg-opacity-8 border rounded text-center">Reestablecer contraseña</h1>
    <form id="emailform" class="mt-4 mb-4 p-3 bg-opacity-8 border rounded ">
        <p>Para reestablecer su contraseña, le enviaremos las indicaciones a su correo electronico.</p>
        <label for="email">Email</label>
        <input name="email" id="email" type="email">
        <input type="submit"> 
    </form>
    <a href="/login">Login</a>
</div>
    
</div>
<script src="/js/emailform.js"></script>