<div>
    <form action="" id="passwordform">
        <label for="">Formulario de cambio de contraseña</label>
        <br>
        <label for="">Ingrese su nueva contraseña</label>
        <input type="text" name="password">
        <br>
        <label for="">Confirme su nueva contraseña</label>
        <input type="text" name="confirmpassword">
        <br>
        <input type="submit">

    </form>
    
</div>
<script src="/js/changepasswordform.js"></script>