<div>
    <form action="" id="emailform">
        <label for="">Ingrese su correo electronico</label>
        <input type="text" name="email">
        <input type="submit">
    </form>
    
</div>
<script src="/js/emailform.js"></script>